<div class="lg:w-3/12 mt-5 p-2 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
    <form [formGroup]="forgotpasswordForm" class="flex flex-col">
        <span>Enter the email that you used to make an Account</span>
        <div class="flex flex-col mt-1 mb-1">
            <span
                    *ngIf="forgotpasswordForm.hasError('required','email') && forgotpasswordForm.controls['email'].dirty"
                    class="text-red-500">* required</span>
            <input formControlName="email" class="p-2 border border-gray-300" type="text" placeholder="Email">

        </div>
        <div class="mt-2">
            <button [disabled]="forgotpasswordForm.invalid" [class.disabled]="forgotpasswordForm.invalid"

                (click)="submit()" class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-md text-white">Login</button>

            <button class="bg-gray-600 w-1/4 p-2 rounded mt-3 text-white"><a routerLink="/home">cancel</a></button>
        </div>

    </form>
</div>